@font-face {
    font-family: "Paradise";
    src: url("./fonts/BlueParadisePersonalUseRegular-Yq32o.otf");
}

@font-face {
    font-family: "lostar" ;
    src: url("./fonts/Lostar.ttf");
}

@font-face {
    font-family: "outfit";
    src: url("./fonts/Outfit-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: black ;
    
}

main{
    margin: 20px;
    padding: 40px;

}

section{
    padding: 16px;
}

img{
    width: 350px;
    border-radius: 250px;
    margin: 20px 25px;
    
}

h1{
    font-size: 60px;
    font-family: lostar;
    color: white;
    margin: 10px ;
    
}

h2{
    font-family: Paradise;
    font-size: 30px;
    color:#3d209c ;
}

a{
    font-family: outfit;
    font-size: 17px;
    color:OrangeRed;
    padding: 15px;
}

li{
    font-size: 17px;
    font-family: outfit;
    color: white;
}
p{
    font-size: 20px;
    font-family: outfit;
    color: white;
    padding: 10px;
}
h3{
    font-size: 20px;
    font-family: outfit;
    color: black;
    background: OrangeRed ;
    text-align: center;
    padding: 15px;
}